<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background: rgb(219, 226, 226);
    } 
    .rowpropio{
        background: white;
        border-radius: 30px;
        box-shadow: 12px 12px 22px grey;
    }
    img{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .btn1{
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: red;
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }
    .btn1:hover{
        background: white;
        border: 1px solid;
        color:black;
    }.btnGuardar{
        height: 40px;
        width: 35%;
    }
    .btnActualizar{
        height: 40px;
        width: 35%;
    }.btnLista{
        height: 40px;
        width: 35%;
    }.label{
         font-size: 18px;
    }
    
</style>

<div *ngIf="CloseForm">
<section class="Form my-4 mx-5">
<div class="container">
    <div class="row rowpropio no-gutters">

         
        <div class="col-lg-2 px-5 pt-5">

            

        </div>

        <div class="col-lg-8 px-5 pt-5">

            <div class="form-row">
                <div class="col-lg-11">
                    <button (click)="ListEmployee()" type="button" class="btnLista btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                    <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>Lista</button>
                </div>
            </div>


            <h1 class="text-center font-weight-bold py-3">{{titulo}} conductor</h1>
            
            <form [formGroup]="service.formModelDrivers" autocomplete="off" (submit)="onSubmit()">

                <div class="form-group my-2 row">
                    <label for="colFormLabelLg" class="col-lg-3 label col-form-label p-1">Identificacion :</label>
                    <div class="col-lg-8">
                         <input type="text" formControlName="UserName" id="InputUserName" placeholder="Identificacion" class="form-control  p-2">
                     <label class="text-danger" *ngIf="service.formModelDrivers.get('UserName').touched && service.formModelDrivers.get('UserName').errors?.required">copie todo</label>
                    </div>
                </div>

                <div class="form-group my-2 row ">
                    <label for="colFormLabelLg" class="col-lg-3 label col-form-label p-1">Correo :</label>
                    <div class="col-lg-8">
                        <input type="text" formControlName="Email"  placeholder="Correo" class="form-control  p-2">
                    </div>
                </div>

                <div class="form-group my-2 row">
                    <label for="colFormLabelLg" class="col-lg-3 label col-form-label p-1">Nombres :</label>
                    <div class="col-lg-8">
                        <input type="text" formControlName="Names" placeholder="Nombres" class="form-control  p-2">
                        <label class="text-danger" *ngIf="service.formModelDrivers.get('Names').touched && service.formModelDrivers.get('Names').errors?.required">copie todo</label>
                    </div>
                </div>

                <div class="form-group my-2 row">
                    <label for="colFormLabelLg" class="col-lg-3 label col-form-label p-1">Apellidos :</label>
                    <div class="col-lg-8">
                        <input type="text" formControlName="Surnames" placeholder="Apellidos" class="form-control  p-2">
                        <label class="text-danger" *ngIf="service.formModelDrivers.get('Surnames').touched && service.formModelDrivers.get('Surnames').errors?.required">copie todo</label>
                    </div>
                </div>

                <div class="form-group my-2 row">
                    <label for="colFormLabelLg" class="col-lg-3 label col-form-label p-1">Telefono :</label>
                    <div class="col-lg-8">
                        <input type="text" formControlName="PhoneNumber"  placeholder="Telefono" class="form-control  p-2">
                        <label class="text-danger" *ngIf="service.formModelDrivers.get('PhoneNumber').touched && service.formModelDrivers.get('PhoneNumber').errors?.required">copie todo</label>
                    </div>
                </div>

                <div *ngIf="ActiveLabel" formGroupName="Passwords"> 

                    <div class="form-group my-2 row">
                        <label for="colFormLabelLg" class="col-lg-3 label col-form-label p-1">Contraseña :</label>
                        <div class="col-lg-8">
                            <input type="password" id="password" autocomplete="off" formControlName="Password" placeholder="Contraseña" class="form-control  p-2">
                            <label class="text-danger" *ngIf="service.formModelDrivers.get('Passwords.Password').touched && service.formModelDrivers.get('Passwords.Password').errors?.required">copie todo</label>
                           <label class="text-danger" *ngIf="service.formModelDrivers.get('Passwords.Password').touched && service.formModelDrivers.get('Passwords.Password').errors?.minlength">Minimo 4</label>
                        </div>
                    </div>

                    <div class="form-group my-2 row">
                        <label for="colFormLabelLg" class="col-lg-3 label col-form-label p-1">Confirmar contraseña:</label>
                        <div class="col-lg-8">
                            <input type="password" id="Confirmpassword" autocomplete="off" formControlName="ConfirmPassword" placeholder="Confirmar contraseña" class="form-control  p-2">
                            <label class="text-danger" *ngIf="service.formModelDrivers.get('Passwords.ConfirmPassword').touched && service.formModelDrivers.get('Passwords.ConfirmPassword').errors?.required">copie todo</label>
                           <label class="text-danger" *ngIf="service.formModelDrivers.get('Passwords.ConfirmPassword').touched && service.formModelDrivers.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Las contraseñas no son iguales</label>
                        </div>
                    </div>
                </div>
           
                <div class="form-row">
                    <div class="col-lg-11">
                        <p>
                            <button id="btnGuardar" [disabled]="!service.formModelDrivers.valid" type="submit" class="btnGuardar btn btn-outline-danger mt-3 mb-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                              </svg>Guardar</button>
                            <button id="btnActualizar" (click)="update()" type="button" class="btnActualizar btn btn-outline-danger mt-3 mb-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            </svg>Actualizar</button>
                        </p>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</section>

</div>

   <app-listconductor *ngIf="ActiveListEmployee"></app-listconductor>

