<style type="text/css">
    .imagenes{
      width:40% ; 
    } h1 {
      font-size: 40px;
      font-weight: 600;
      color: red;
    } label {
      text-align: justify;
    } .how-section1{
      padding: 10%;
    } .mrg {
      margin-top:10%;
    } .imagenesContac{
      width:100%; 
      height: 732px;
      background-image: url(../../assets/img/bg-01.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      z-index: 1;
    } .button {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } .button {
      background: none;
      color: #CCC;
      width: 200px;
      height: 50px;
      border: 1px solid #803333;
      font-size: 18px;
      border-radius: 4px;
      transition: .6s;
      overflow: hidden;
    } .button::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,.5);
      width: 60px;
      height: 100%;
      top: 0;
      left: 0;
      opacity: .5s;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15deg);
    } .button::after{
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,.2);
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(30px);
      transform: translate(-100px) scaleX(-15deg);
    } .button:hover{
      background: #803333;
      cursor: pointer;
    } .button:hover:before{
      transform: translateX(300px) skewX(-15deg);
      opacity: .6;
      transition: .7s;
    }.button:hover::after{
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }
    .button2 {
      top: 50%;
      left: 50%;
    } .button2 {
      background: none;
      color: black;
      width: 200px;
      height: 50px;
      border: 1px solid black;
      font-size: 18px;
      border-radius: 4px;
      transition: .6s;
      overflow: hidden;
    } .button2::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,.5);
      width: 60px;
      height: 100%;
      top: 0;
      left: 0;
      opacity: .5s;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15deg);
    } .button2::after{
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,.2);
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(30px);
      transform: translate(-100px) scaleX(-15deg);
    } .button2:hover{
      background: #dc1b1b;
      color: white;
      cursor: pointer;
    } .button2:hover:before{
      transform: translateX(300px) skewX(-15deg);
      opacity: .6;
      transition: .7s;
    }.button2:hover::after{
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }
     .wrapper{
      padding-left: 20%;
      padding-top: 10%
    } .letra{
      color: white;
      font-size: 22px;
    } .imgClient{
     width: 100%;
     padding: 5px;
    } nav {
      position: fixed;
      z-index: 10;
      left: 0;
      right: 0;
      top: 0;
      font-family: 'Monserrat', sans-serif;
      padding: 0 5%;
      height: 100px;
      background-color: white;
      box-shadow: 0px 10px 20px rgba(0,0,0,.2);
    } 
    nav .logo{
      float: left;
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: #fff;
    } 
    nav .links {
      float: right;
      padding: 0;
      margin: 0;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    } 
    nav .links li {
      list-style: none;
    } 
    nav .links a {
      display: block;
      padding: 1em;
      font-size: 16px;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
    } 
    #nav-toggle {
      position:absolute;
      top: -100px;
    } 
    nav .icon-burger {
      display: none;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
    } 
    nav .icon-burger .line {
      width: 30px;
      height: 5px;
      background-color: black;
      margin: 5px;
      border-radius: 3px;
    } 
    .imgLogoIcon{
      width: 60%;
    }
    .pad {
         padding-top: 10%;
       }
    .pad2{
      padding-top: 7%;
    }.car{
      height: 700px; 
    }
    .course{
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 10px 20px rgba(0,0,0,.2);
      display: flex;
      max-width: 100%;
      overflow: hidden;
      width: 100%;
    }
    .course2{
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 10px 20px rgba(0,0,0,.2);
      display: flex;
      max-width: 100%;
      overflow: hidden;
      width: 100%;
      margin-top: 30px;
    } 
    .formContac{
      margin-bottom: 15px;
    }
    .form-control{
      padding: 10px !important;
    }
    .modal-content{
      margin-top: 40%;
    }
    .modal-headerContac{
      background-image: url(../../assets/img/najetrans.ico);
      width:100%; 
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .imgServicios{
      width: 65%;
      height: 210px;
    }
    a {
      cursor: pointer;
    }
    @media screen and (max-width:768px) {
        .imgLogoIcon{
          width: 25%;
        }
        nav .logo{
         float:none;
         width:auto;
         justify-content: center;
       } 
       nav .links {
         float: none;
         position: fixed;
         z-index: 9;
         left: 0;
         right: 0;
         top: 100px;
         bottom: 100%;
         width: auto;
         height: auto;
         flex-direction:column;
         background-color: rgba(0,0,0,.8);
         overflow: hidden;
         transition:all .5s ease-in-out;
       }
       nav .links a {
         font-size: 20px;
       }
       nav :checked ~ .links {
         bottom: 0;
       }
       nav .icon-burger{
         display: block;
       } 
       nav :checked ~ .icon-burger .line:nth-child(1) {
         transform: translateY(10px) rotate(225deg);
       }
       nav :checked ~ .icon-burger .line:nth-child(3) {
         transform: translateY(-10px) rotate(-225deg);
       }
       nav :checked ~ .icon-burger .line:nth-child(2) {
         opacity: 0;
       }
       .pad {
         padding-top: 15%;
       }
       .pad2 {
         padding-top: 15%;
       }
      .car{
        height: 350px ;
      }
      nav .links a{
        color: white;
      }
  } 
  </style>
  
  <nav>
    <input id="nav-toggle" type="checkbox">
    <div class="logo"><img class="imgLogoIcon" src="../../assets/img/najetrans.ico" alt=""></div>
     <ul class="links">
         <li><a (click)="ToHome()">Inicio</a></li>
         <li><a (click)="Quienessomos()">Quienes somos</a></li>
         <li><a (click)="Servicios()">Servicios</a></li>
         <li><a (click)="Clientes()">Clientes</a></li>
         <li><a (click)="Contactos()">Contacto</a></li>
         <li><a href="Login">Login</a></li>
     </ul>
     <label for="nav-toggle" class="icon-burger">
         <div class="line"></div>
         <div class="line"></div>
         <div class="line"></div>
     </label>
  </nav>
  
  
  
  <section id="homeContacto" class="pad2">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 car" src="../../assets/img/car1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/NAGETRANS.jpg" alt="Second slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </section>
  
  <section id="Quienessomos">
  <div class="pad container">
    
     <div class="main row">
      
       <div class="col-md-12">
         <h1 class="text-center">Quienes somos</h1>
        </div>
  
        <div class="text-center col-md-12">
          <label class="text-center">Somos Un Servicio Que Brinda Transporte y Seguridad</label>
        </div>
  
  
     </div>
   
  </div>
</section>
  
  
  
  <div class="container"> 
        <section class="main row">
          <div class="how-section1">
          <div class="row">
            <div class="text-center col-md-6">
            <img class="imagenes" src="../../assets/img/mision.png">
          </div>
                                  <div class="col-md-6">
                                  <h1 class="text-center">Misión</h1>
          <label class="align-text">Es una empresa que presta servicios de logística y coordinación de transporte de personal y herramientas de los mismos, que crece continuamente para contribuir al desarrollo de la región de Urabá; apoyándonos en un parque automotor conformado por vehículos camionetas doble cabina en óptimas condiciones de seguridad, también contamos con un talento humano responsable, calificado y comprometido; quienes trabajan permanentemente por la satisfacción oportuna de las necesidades de nuestros clientes.</label>
                                  </div>
          </div>
  
          <div class="row mrg">
          <div class="col-md-6">
                                  <h1 class="text-center">Visión</h1>
                                  <label>Será una empresa reconocida en el sector servicios de logística y transporte de la región, preferida por su calidez humana y con alta recordación por su excelente orientación al cliente, basada en la cultura de calidad, compromiso integral de todo nuestro equipo de trabajo.</label>
                                  </div>
          <div class="text-center col-md-6">
            <img class="imagenes" src="../../assets/img/vision.png">
          </div>
          </div>
        </div>    
      </section> 
  </div>
  
  
  <div class="pad container">
    <section id="Servicios">
  
      <div class="col-md-12">
        <h1 class="text-center">Servicios</h1>
       </div>
  
       <div class="text-center col-md-12">
        <label class="text-center">Somos Un Servicio Que Brinda Transporte y Seguridad</label>
      </div>
  
    </section>
  </div>
  
  <div class="container">
    <section id="Servicios">
  
      <div class="course row">
  
      <div class="text-center col-md-5">
        <img class="imgServicios" src="../../assets/img/car2.jpg" alt="Second slide">
       </div>
  
       <div class="text-center col-md-7">
         <h6 style="
         font-size: 30px;
         color: red;
         height: 16%;
         top: 5%;
         position: relative;
     " >Portafolio De Servicios</h6>
        <label style="
        /* margin-top: 10px; */
        font-size: 20px;
        /* margin-right: 0px; */
        /* margin-right: 11px; */
        padding-bottom: 50px;
    " class="text-center">
          Operador logìstico de Transporte Nagetrans Zomac S.A.S cuenta un parque automotor de camionetas doble cabina 4*4
          para suplir las necesidades de la regiòn, ademàs con la experiencia de 8 años que nos acredita como una empresa
          responsable y cumplida en la prestaciòn del servico.
          Brindamos el tipo de servicio empresarial y personal de acuerdo a las necesidades de nuestros clientes.
      </label>
      </div>
  
    </div>
  
    <div class="course2 row">
  
      <div class="text-center col-md-5">
        <img class="imgServicios" src="../../assets/img/car6.jpg" alt="Second slide">
       </div>
  
       <div class="text-center col-md-7">
         <h6 style="
         font-size: 30px;
         color: red;
         height: 16%;
         top: 5%;
         position: relative;
     " >Descripcion De Servicio</h6>
        <label style="
        /* margin-top: 10px; */
        font-size: 20px;
        /* margin-right: 0px; */
        /* margin-right: 11px; */
        padding-bottom: 50px;
    " class="text-center">
          Ofrecemos servicio publico de transporte terrestre automotor especial en la regiòn de Uraba.
          Contamos con vehìculos tipo camioneta
          doble cabina con platòn,4*4,rastreo satelital y excelentes condiciones de funcionamiento.
          Contamos con un talento humano con las competencias idòneas para el desarrollo del servicio de transporte en la regiòn.
      </label>
      </div>
  
    </div>
  
    </section>
  </div>
  
  
  
  
  <div class="pad container">
    <section id="Clientes">
  
      <div class="col-md-12">
        <h1 class="text-center">Clientes</h1>
       </div>
  
       <div class="text-center col-md-12">
        <label class="text-center">Somos Un Servicio Que Brinda Transporte y Seguridad</label>
      </div>
  
    </section>
  </div>
  
  <div class="container">
    <section>
  
      <div class="row">
  
      <div class="col-md-4">
        <img class="imgClient" src="../../assets/img/unidad de tierras.jpg" alt="">
       </div>
  
       <div class="col-md-4">
        <img class="imgClient" src="../../assets/img/unidad de victimas.jpg" alt="">
       </div>
  
       <div class="col-md-4">
        <img class="imgClient" src="../../assets/img/enecon.png" alt="">
       </div>
  
      </div>
  
      <div class="row">
  
        <div class="col-md-4">
          <img class="imgClient" src="../../assets/img/INGEOMEGA.png" alt="">
         </div>
    
         <div class="col-md-4">
          <img class="imgClient" src="../../assets/img/rtuc.png" alt="">
         </div>
    
         <div class="col-md-4">
          <img class="imgClient" src="../../assets/img/transporte nueva era.png" alt="">
         </div>
    
        </div>
  
        <div class="row">
  
          <div class="col-md-4">
            <img class="imgClient" src="../../assets/img/cinet.png" alt="">
           </div>
      
           <div class="col-md-4">
            <img class="imgClient" src="../../assets/img/ingenieria y gestion administrativa.jpg" alt="">
           </div>
      
          </div>
  
    </section>
  </div>
  
  
  
  <div class="pad container">
    <section id="Contactos">
  
      <div class="col-md-12">
        <h1 class="text-center">Contactos</h1>
       </div>
  
       <div class="text-center col-md-12">
        <label class="text-center">Somos Un Servicio Que Brinda Transporte y Seguridad</label>
      </div>
  
    </section>
  </div>
  
  
  
    <section>
  
      <form [formGroup]="service.formModelContacto" autocomplete="off" (submit)="onSubmit()">

      <div class="col-md-13">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-headerContac modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
  
                  <div class="input-group w-50 formContac text-center col-md-12">
                    <span class="input-group-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>
                    </span>
                    <input formControlName="Names" class="form-control" placeholder="Nombre completo" type="text">
                  </div>
  
                  <div class="input-group w-50 formContac text-center col-md-12">
                    <span class="input-group-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                        <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                      </svg>
                    </span>
                    <input formControlName="PhoneNumber" class="form-control" placeholder="Telefono" type="number">
                  </div>
  
                  <div class="input-group w-50 formContac text-center col-md-12">
                    <span class="input-group-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                      </svg>
                    </span>
                    <input formControlName="Email" class="form-control" placeholder="Correo" type="email">
                  </div>
  
                  <div class="formContac text-center col-md-12">
                    <textarea formControlName="Body" class="form-control" placeholder="Mensaje" name="" id="" cols="30" rows="4"></textarea>
                  </div>
  
                  <div class="formContac text-center col-md-12">
                    <button class="button2" type="submit">Enviar</button>
                  </div>
  
                </div>
                
              </div>
            </div>
          </div>
        </div>
  
      

        <div class="imagenesContac">
          <div class="container">
            <div class="col-md-6">
                <div class="wrapper">
                <button class="button" data-toggle="modal" data-target="#exampleModal" type="button">Contactarme</button>
              </div>
              <p class="letra">Si está interesado en nuestros servicios por favor diligencie el siguiente formulario o Registrese Como un Cliente. Muy pronto nos comunicaremos con usted.</p>
              <p class="letra">Correo:Nagetrans@gmail.com</p>
              <p class="letra">Cel:3184851749/3174344022</p>
              <p class="letra">Apartado-Colombia</p>
              <p class="letra"></p>
            </div>
          </div>
  
        </div>
      </div>

    </form>
  
    </section>
