<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background: rgb(219, 226, 226);
    } 
    .rowpropio{
        background: white;
        border-radius: 30px;
        box-shadow: 12px 12px 22px grey;
    }
    img{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .btn1{
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: red;
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }
    .btn1:hover{
        background: white;
        border: 1px solid;
        color:black;
    }.btnGuardar{
        height: 40px;
        width: 35%;
    }
    .btnActualizar{
        height: 40px;
        width: 35%;
    }.btnLista{
        height: 40px;
        width: 35%;
    }.label{
         font-size: 18px;
    }.doc{
      padding-top: 7px;
    }.check{
        font-size: 17px;
    }.titulo{
        color: red;
    }.posicionboton{
        padding-left: 33%;
    }
</style>


<app-list-check *ngIf="ActiveListCheck"></app-list-check>
<app-list-vehicle-documents *ngIf="ActiveListVehicleDocuments"></app-list-vehicle-documents>
<app-listdriversdocuments *ngIf="ActiveListDriverDocuments"></app-listdriversdocuments>


<div *ngIf="CloseForm">
<section class="Form my-4 mx-5">
<div class="container">
    <div class="row rowpropio no-gutters">

         
        <div class="col-lg-2 px-5 pt-5">

          

        </div>

        <div class="col-lg-8 px-5 pt-5">

            <div>
                <button (click)="ReturnListUpdate()" *ngIf="ActiveUpdate" id="ListCheck" type="button"  class="btnLista btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                    <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>Lista</button>
            </div>
            

            <h1 class="text-center titulo font-weight-bold py-3">{{titulo}} lista de chequeo</h1>

            <h1 class="text-center">Inspeccion visual al vehiculo</h1>
            
            <form [formGroup]="service.formModelCheck" autocomplete="off" (submit)="onSubmit()">

                
              <div class="form-group my-3 row">
                <label for="colFormLabelLg" class="col-lg-3 label col-form-label p-1">Placa:</label>
                  <div class="col-lg-8">
                      <select class="dropdown form-control" name="FKUserVehicle" id="FKUserVehicle" formControlName="FKUserVehicle">
                          <option  *ngFor="let dataItem of vehicleDetails" [value]="dataItem.id" >
                             {{dataItem.userName}} 
                          </option>
                      </select>
                  </div>
              </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-3 label col-form-label p-1">Identificacion:</label>
                    <div class="col-lg-8">
                        <select class="dropdown form-control" name="FKUserdriver" id="FKUserdriver" formControlName="FKUserdriver">
                            <option  *ngFor="let dataItem of userDetails" [value]="dataItem.id" >
                               {{dataItem.names}} 
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Indicador de aceite de Motor :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="IndicadorAceiteDeMotor" class="form-check-inpck" type="radio" name="IndicadorAceiteDeMotor" id="IndicadorAceiteDeMotor1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="IndicadorAceiteDeMotor" class="form-check-input" type="radio" name="IndicadorAceiteDeMotor" id="IndicadorAceiteDeMotor2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Nivel de combustible :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="NivelDeDombustible" class="form-check-inpck" type="radio" name="NivelDeDombustible" id="NivelDeDombustible1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="NivelDeDombustible" class="form-check-input" type="radio" name="NivelDeDombustible" id="NivelDeDombustible2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Pito :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="Pito" class="form-check-inpck" type="radio" name="Pito" id="Pito1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="Pito" class="form-check-input" type="radio" name="Pito" id="Pito2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                  <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Indicador de bateria :</label>
                  <div class="col-lg-6 doc">
                      <div class="form-check form-check-inline check">
                          <input formControlName="IndicadorBateria" class="form-check-inpck" type="radio" name="IndicadorBateria" id="IndicadorBateria1" value="Bueno">
                          <label class="form-check-label" for="inlineRadio1">Bueno</label>
                        </div>
                        <div class="form-check form-check-inline check">
                          <input formControlName="IndicadorBateria" class="form-check-input" type="radio" name="IndicadorBateria" id="IndicadorBateria2" value="Malo">
                          <label class="form-check-label" for="inlineRadio2">Malo</label>
                        </div>
                  </div>
              </div>

                        <div class="form-group my-3 row">
                          <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Freno de emergencia :</label>
                          <div class="col-lg-6 doc">
                              <div class="form-check form-check-inline check">
                                  <input formControlName="FrenoDeEmergencia" class="form-check-inpck" type="radio" name="FrenoDeEmergencia" id="FrenoDeEmergencia1" value="Bueno">
                                  <label class="form-check-label" for="inlineRadio1">Bueno</label>
                                </div>
                                <div class="form-check form-check-inline check">
                                  <input formControlName="FrenoDeEmergencia" class="form-check-input" type="radio" name="FrenoDeEmergencia" id="FrenoDeEmergencia2" value="Malo">
                                  <label class="form-check-label" for="inlineRadio2">Malo</label>
                                </div>
                          </div>
                      </div>

                      <div class="form-group my-3 row">
                        <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Cojineria y sillas :</label>
                        <div class="col-lg-6 doc">
                            <div class="form-check form-check-inline check">
                                <input formControlName="CojineriaySillas" class="form-check-inpck" type="radio" name="CojineriaySillas" id="CojineriaySillas1" value="Bueno">
                                <label class="form-check-label" for="inlineRadio1">Bueno</label>
                              </div>
                              <div class="form-check form-check-inline check">
                                <input formControlName="CojineriaySillas" class="form-check-input" type="radio" name="CojineriaySillas" id="CojineriaySillas2" value="Malo">
                                <label class="form-check-label" for="inlineRadio2">Malo</label>
                              </div>
                        </div>
                    </div>

                    <div class="form-group my-3 row">
                      <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Limpiabrisas (Estado, nivel de agua) :</label>
                      <div class="col-lg-6 doc">
                          <div class="form-check form-check-inline check">
                              <input formControlName="Limpiabrisas" class="form-check-inpck" type="radio" name="Limpiabrisas" id="Limpiabrisas1" value="Bueno">
                              <label class="form-check-label" for="inlineRadio1">Bueno</label>
                            </div>
                            <div class="form-check form-check-inline check">
                              <input formControlName="Limpiabrisas" class="form-check-input" type="radio" name="Limpiabrisas" id="Limpiabrisas2" value="Malo">
                              <label class="form-check-label" for="inlineRadio2">Malo</label>
                            </div>
                      </div>
                  </div>

                  <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Luces internas :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="LucesInternas" class="form-check-inpck" type="radio" name="LucesInternas" id="LucesInternas1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="LucesInternas" class="form-check-input" type="radio" name="LucesInternas" id="LucesInternas2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                  <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Tablero velocimetro instrumentos :</label>
                  <div class="col-lg-6 doc">
                      <div class="form-check form-check-inline check">
                          <input formControlName="TableroVelocimetroInstrumentos" class="form-check-inpck" type="radio" name="TableroVelocimetroInstrumentos" id="TableroVelocimetroInstrumentos1" value="Bueno">
                          <label class="form-check-label" for="inlineRadio1">Bueno</label>
                        </div>
                        <div class="form-check form-check-inline check">
                          <input formControlName="TableroVelocimetroInstrumentos" class="form-check-input" type="radio" name="TableroVelocimetroInstrumentos" id="TableroVelocimetroInstrumentos2" value="Malo">
                          <label class="form-check-label" for="inlineRadio2">Malo</label>
                        </div>
                  </div>
              </div>

                <div class="form-group my-3 row">
                <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Nivel de aceite Motor :</label>
                <div class="col-lg-6 doc">
                    <div class="form-check form-check-inline check">
                        <input formControlName="AceiteMotor" class="form-check-inpck" type="radio" name="AceiteMotor" id="AceiteMotor1" value="Bueno">
                        <label class="form-check-label" for="inlineRadio1">Bueno</label>
                      </div>
                      <div class="form-check form-check-inline check">
                        <input formControlName="AceiteMotor" class="form-check-input" type="radio" name="AceiteMotor" id="AceiteMotor2" value="Malo">
                        <label class="form-check-label" for="inlineRadio2">Malo</label>
                      </div>
                </div>
            </div>


            <div class="form-group my-3 row">
              <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Nivel de aceite hidráulico dirección :</label>
              <div class="col-lg-6 doc">
                  <div class="form-check form-check-inline check">
                      <input formControlName="AceiteHidraulicoDireccion" class="form-check-inpck" type="radio" name="AceiteHidraulicoDireccion" id="AceiteHidraulicoDireccion1" value="Bueno">
                      <label class="form-check-label" for="inlineRadio1">Bueno</label>
                    </div>
                    <div class="form-check form-check-inline check">
                      <input formControlName="AceiteHidraulicoDireccion" class="form-check-input" type="radio" name="AceiteHidraulicoDireccion" id="AceiteHidraulicoDireccion2" value="Malo">
                      <label class="form-check-label" for="inlineRadio2">Malo</label>
                    </div>
              </div>
            </div>

            <div class="form-group my-3 row">
              <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Nivel de liquido refrigerante :</label>
              <div class="col-lg-6 doc">
                  <div class="form-check form-check-inline check">
                      <input formControlName="LiquidoRefrigerante" class="form-check-inpck" type="radio" name="LiquidoRefrigerante" id="LiquidoRefrigerante1" value="Bueno">
                      <label class="form-check-label" for="inlineRadio1">Bueno</label>
                    </div>
                    <div class="form-check form-check-inline check">
                      <input formControlName="LiquidoRefrigerante" class="form-check-input" type="radio" name="LiquidoRefrigerante" id="LiquidoRefrigerante2" value="Malo">
                      <label class="form-check-label" for="inlineRadio2">Malo</label>
                    </div>
              </div>
            </div>

            <div class="form-group my-3 row">
              <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Nivel de liquido de frenos :</label>
              <div class="col-lg-6 doc">
                  <div class="form-check form-check-inline check">
                      <input formControlName="LiquidoDeFrenos" class="form-check-inpck" type="radio" name="LiquidoDeFrenos" id="LiquidoDeFrenos1" value="Bueno">
                      <label class="form-check-label" for="inlineRadio1">Bueno</label>
                    </div>
                    <div class="form-check form-check-inline check">
                      <input formControlName="LiquidoDeFrenos" class="form-check-input" type="radio" name="LiquidoDeFrenos" id="LiquidoDeFrenos2" value="Malo">
                      <label class="form-check-label" for="inlineRadio2">Malo</label>
                    </div>
              </div>
            </div>

            <div class="form-group my-3 row">
            <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Tapa de combustible :</label>
            <div class="col-lg-6 doc">
                <div class="form-check form-check-inline check">
                    <input formControlName="TapaDeCombustible" class="form-check-inpck" type="radio" name="TapaDeCombustible" id="TapaDeCombustible1" value="Bueno">
                    <label class="form-check-label" for="inlineRadio1">Bueno</label>
                  </div>
                  <div class="form-check form-check-inline check">
                    <input formControlName="TapaDeCombustible" class="form-check-input" type="radio" name="TapaDeCombustible" id="TapaDeCombustible2" value="Malo">
                    <label class="form-check-label" for="inlineRadio2">Malo</label>
                  </div>
            </div>
            </div>

                 <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Tension de correas :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="TensionDeCorreas" class="form-check-inpck" type="radio" name="TensionDeCorreas" id="TensionDeCorreas1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="TensionDeCorreas" class="form-check-input" type="radio" name="TensionDeCorreas" id="TensionDeCorreas2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Vidrios y espejos :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="VidriosyEspejos" class="form-check-inpck" type="radio" name="VidriosyEspejos" id="VidriosyEspejos1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="VidriosyEspejos" class="form-check-input" type="radio" name="VidriosyEspejos" id="VidriosyEspejos2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                  <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Luces altas y bajas :</label>
                  <div class="col-lg-6 doc">
                      <div class="form-check form-check-inline check">
                          <input formControlName="LucesAltasyBajas" class="form-check-inpck" type="radio" name="LucesAltasyBajas" id="LucesAltasyBajas1" value="Bueno">
                          <label class="form-check-label" for="inlineRadio1">Bueno</label>
                        </div>
                        <div class="form-check form-check-inline check">
                          <input formControlName="LucesAltasyBajas" class="form-check-input" type="radio" name="LucesAltasyBajas" id="LucesAltasyBajas2" value="Malo">
                          <label class="form-check-label" for="inlineRadio2">Malo</label>
                        </div>
                  </div>
              </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Luces direccionales(delanteras-traseras) :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="LucesDireccionales" class="form-check-inpck" type="radio" name="LucesDireccionales" id="LucesDireccionales1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="LucesDireccionales" class="form-check-input" type="radio" name="LucesDireccionales" id="LucesDireccionales2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Placas y logos :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="PlacasyLogos" class="form-check-inpck" type="radio" name="PlacasyLogos" id="PlacasyLogos1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="PlacasyLogos" class="form-check-input" type="radio" name="PlacasyLogos" id="PlacasyLogos2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Llantas (Desgaste, presión de aire) :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="Llantas" class="form-check-inpck" type="radio" name="Llantas" id="Llantas1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="Llantas" class="form-check-input" type="radio" name="Llantas" id="Llantas2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Dispositivo de velocidad :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="DispositivoDeVelocidad" class="form-check-inpck" type="radio" name="DispositivoDeVelocidad" id="DispositivoDeVelocidad1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="DispositivoDeVelocidad" class="form-check-input" type="radio" name="DispositivoDeVelocidad" id="DispositivoDeVelocidad2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Cinturones de seguridad :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="CinturonesDeSeguridad" class="form-check-inpck" type="radio" name="CinturonesDeSeguridad" id="CinturonesDeSeguridad1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="CinturonesDeSeguridad" class="form-check-input" type="radio" name="CinturonesDeSeguridad" id="CinturonesDeSeguridad2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Botiquin :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="Botiquin" class="form-check-inpck" type="radio" name="Botiquin" id="Botiquin1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="Botiquin" class="form-check-input" type="radio" name="Botiquin" id="Botiquin2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                  <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Estado de la carpa,cierres y correas :</label>
                  <div class="col-lg-6 doc">
                      <div class="form-check form-check-inline check">
                          <input formControlName="Carpa" class="form-check-inpck" type="radio" name="Carpa" id="Carpa1" value="Bueno">
                          <label class="form-check-label" for="inlineRadio1">Bueno</label>
                        </div>
                        <div class="form-check form-check-inline check">
                          <input formControlName="Carpa" class="form-check-input" type="radio" name="Carpa" id="Carpa2" value="Malo">
                          <label class="form-check-label" for="inlineRadio2">Malo</label>
                        </div>
                  </div>
              </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Extintor :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="Extintor" class="form-check-inpck" type="radio" name="Extintor" id="Extintor1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="Extintor" class="form-check-input" type="radio" name="Extintor" id="Extintor2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-4 label col-form-label p-1">Vencimiento extintor :</label>
                    <div class="col-lg-8">
                      <input style="display:inline; width: 80%;" placeholder="Vencimiento extintor" type="date" class="form-control  p-2" formControlName="VencimientoExtintor" value="{{date | date:'dd-MM-yyyy'}}">
                        
                       <!--
                         matInput [matDatepicker]="VencimientoExtintor"
                          <mat-datepicker-toggle matSuffix [for]="VencimientoExtintor"></mat-datepicker-toggle>
                        <mat-datepicker #VencimientoExtintor></mat-datepicker>-->
                    </div>
                  </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Equipo de carretera :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="EquipoDeCarretera" class="form-check-inpck" type="radio" name="EquipoDeCarretera" id="EquipoDeCarretera1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="EquipoDeCarretera" class="form-check-input" type="radio" name="EquipoDeCarretera" id="EquipoDeCarretera2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-6 label col-form-label p-1">Llanta de repuesto :</label>
                    <div class="col-lg-6 doc">
                        <div class="form-check form-check-inline check">
                            <input formControlName="LlantaDeRepuesto" class="form-check-inpck" type="radio" name="LlantaDeRepuesto" id="LlantaDeRepuesto1" value="Bueno">
                            <label class="form-check-label" for="inlineRadio1">Bueno</label>
                          </div>
                          <div class="form-check form-check-inline check">
                            <input formControlName="LlantaDeRepuesto" class="form-check-input" type="radio" name="LlantaDeRepuesto" id="LlantaDeRepuesto2" value="Malo">
                            <label class="form-check-label" for="inlineRadio2">Malo</label>
                          </div>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-4 label col-form-label p-1">Kilometraje actual:</label>
                    <div class="col-lg-8">
                         <input type="text" formControlName="KMActual" id="KMActual" placeholder="Kilometros actuales" class="form-control p-2">
                     <label class="text-danger" *ngIf="service.formModelCheck.get('KMActual').touched && service.formModelCheck.get('KMActual').errors?.required">copie todo</label>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-4 label col-form-label p-1">Proximo cambio de aceite:</label>
                    <div class="col-lg-8">
                         <input type="text" formControlName="CambioAceite" id="CambioAceite" placeholder="Proximo cambio de aceite" class="form-control p-2">
                     <label class="text-danger" *ngIf="service.formModelCheck.get('CambioAceite').touched && service.formModelCheck.get('CambioAceite').errors?.required">copie todo</label>
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label for="colFormLabelLg" class="col-lg-4 label col-form-label p-1">Observacion:</label>
                    <div class="col-lg-8">
                    <textarea placeholder="Observacion" formControlName="Observacion" class="form-control p-2" id="Observacion" rows="3"></textarea>
                </div>
                  </div>
                
             <div class="form-row">
                <div class="col-lg-12 posicionboton">
                    <p>
                        <button *ngIf="ActiveGuard" id="btnGuardarCheck" [disabled]="!service.formModel.valid" type="submit" class="btnGuardar btn btn-outline-danger mt-3 mb-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                          </svg>Guardar</button>
                        <button (click)="update()" *ngIf="ActiveUpdate" id="btnActualizarCheck" type="button" class="btnActualizar btn btn-outline-danger mt-3 mb-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        </svg>Actualizar</button>
                    </p>
                </div>
            </div>

            </form>
        </div>
    </div>
</div>
</section>

</div>






